@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');


/* Removing all margins and paddings starts*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* Removing all margins and paddings ends*/

/* Shared styles starts */

.shared-font {
    font-family: "Azeret Mono", monospace;
}
/* Shared styles ends */

/* Navbar styling starts */
.navbar{
    width: 900px;
    margin: 0 auto;
    display: flex;
    gap: space-between;
    justify-content: space-between;
    align-items: center;
}

.atiqur {
    font-size: 20px;
}

.navbar h3 {
    margin-top: 25px;
    margin-bottom: 15px;
}

.navbar button {
    margin-top: 20px;
    margin-bottom: 15px;

}
/* Navbar styling ends */

/* Header Styling Starts */

.header {
    background-image: url("../assets/Hero-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 50px;
    height: 550px;

    
}

.header-image {
    width: 185px;
    height: 195px;
    display: block;
    margin: 0 auto;

}

.header-h1 {
    text-align: center;
    font-size: 42px;
    font-weight: 700;
}

.header-content {
    text-align: center;
    font-family: "Azeret Mono", monospace;
    font-size: 25px;
    font-weight: 400;
    width: 1200px;
    margin: 0 auto;
}

.header-button {
    display: block;
    margin: 0 auto;
    margin-top: 25px;
    margin-bottom: 15px;
    border-radius: 5px;
    background: rgb(13, 19, 33);
    padding: 5px;
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0%;
    text-align: center;
}

/* Header Styling Ends */

/* Why Section Styling */

.why {
    color: rgb(13, 19, 33);
    font-size: 32px;
    font-weight: 800;
    line-height: 37px;
    letter-spacing: 0%;
    text-align: center;
}

.why-description {
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
}

.i-will {
    color: rgba(13, 19, 33, 0.7);
    font-size: 18px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0%;
    text-align: left;
    
}

.i-will-description {
    color: rgb(13, 19, 33);
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: left;
}

.i-will-button {
    box-sizing: border-box;
    border: 1px solid rgb(13, 19, 33);
    opacity: 0.7;
    color: rgb(13, 19, 33);
    font-size: 14px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0%;
    text-align: center;
    padding: 5px 10px;
    margin-top: 10px;
    cursor: pointer;
}

.first-image {
    display: flex;
    gap: 40px;
    justify-content: space-between;
    align-items: center;
}

.main-section-1 {
    width: 1100px;
    height: 950px;
    margin: 0 auto;
    padding-top: 40px;
}

.my-inspiration {
    color: rgb(13, 19, 33);
    font-size: 24px;
    font-weight: 800;
    line-height: 37px;
    letter-spacing: 0%;
    text-align: center;
}

.my-inspiration-desc {
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
    width: 800px;
    margin: 0 auto;
    padding-bottom: 20px;
}

.current {
    color: rgb(13, 19, 33);
    font-size: 28px;
    font-weight: 800;
    line-height: 37px;
    letter-spacing: 0%;
    text-align: center;
}

.current-desc-ini {
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
}


.current-target {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 0 auto;
    width: 1100px;
}

.current-desc{
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: left;
}


.support {
    background-image: url("../assets/handshake.jpg");
    background-repeat: no-repeat;
    display: block;
    width: 1100px;
    height: 300px;
    border-radius: 10px;
    object-fit: contain;
    margin: 50px auto;
}

.need-support {
    color: rgb(255, 255, 255);
    font-size: 32px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0%;
    text-align: center;
    padding-top: 40px;
}

.need-support-desc {
    color: rgb(255, 255, 255);
    font-size: 12px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 30px;
}

.input-submit {
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.input-submit input {
    width: 500px;
    height: 30px;
    border-radius: 5px;
    border: none;
}
.input-submit button {
    width: 60px;
    height: 30px;
    border-radius: 5px;
    border: none;
}



.main-footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1100px;
    margin: 0 auto;
    margin-bottom: 40px;
}

.footer-com {
    color: rgb(13, 19, 33);
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0%;
    text-align: center;
}
